h1, p {
  font-family: Lato;
}

.user-list{
  display: flex;
  flex-wrap: wrap;
}

.user-details{
  display: flex;
  justify-content: space-between;
  width: 40%;
  height: 100%;
  margin: 1em 5% 0 5%;
}

img {
  width: 15%;
  height: 25%;
}